*.ui
*.db
*.png
test.py
test2.py
test3.py
test_qr.py
main_widget.py
register_widget.py
resources_rc_.py
resources_rc_old.py
resource_rc.py
*.csv
*.bst
venv
__pycache__
.env
.qt_for_python
login_widget2.py